xsd/Services/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                          xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="NTServices">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="NTService">
           <xs:complexType>
             <xs:sequence>
               <xs:element name="Properties">
                 <xs:complexType>
                   <xs:attribute name="serviceAction" 
                                 type="xs:string" 
                                 use="required" />
                   <xs:attribute name="startupType" 
                                 type="xs:string" 
                                 use="required" />
                   <xs:attribute name="serviceName" 
                                 type="xs:string" 
                                 use="required" />
                   <xs:attribute name="timeout" 
                                 type="xs:unsignedByte" 
                                 use="required" />
                   <xs:attribute name="accountName" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="cpassword" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="interact" 
                                 type="xs:unsignedByte" 
                                 use="optional" />
                   <xs:attribute name="firstFailure" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="secondFailure" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="thirdFailure" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="resetFailCountDelay" 
                                 type="xs:unsignedByte" 
                                 use="optional" />
                   <xs:attribute name="restartServiceDelay" 
                                 type="xs:unsignedInt" 
                                 use="optional" />
                    <xs:attribute name="restartComputerDelay" 
                                 type="xs:unsignedByte" 
                                 use="optional" />
                   <xs:attribute name="restartMessage" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="program" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="args" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="append" 
                                 type="xs:string" 
                                 use="optional" />
                   <xs:attribute name="disabled" 
                                 type="xs:unsignedByte" 
                                 use="optional" />
                 </xs:complexType>
               </xs:element>
             </xs:sequence>
             <xs:attribute name="clsid" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="name" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="image" 
                           type="xs:unsignedByte" 
                           use="optional" />
             <xs:attribute name="changed" 
                           type="xs:string" 
                           use="optional" />
             <xs:attribute name="uid" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="desc" 
                           type="xs:string" 
                           use="optional" />
             <xs:attribute name="bypassErrors" 
                           type="xs:boolean" 
                           use="optional" />
             <xs:attribute name="userContext" 
                           type="xs:boolean" 
                           use="optional" />
             <xs:attribute name="removePolicy" 
                           type="xs:boolean" 
                           use="optional" />
           </xs:complexType>
         </xs:element>
       </xs:sequence>
       <xs:attribute name="clsid" 
                     type="xs:string" 
                     use="required" />
       <xs:attribute name="disabled" 
                     type="xs:unsignedByte" 
                     use="optional" />
     </xs:complexType>
   </xs:element>
 </xs:schema>