xsd/Applications/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
                          xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="Applications">
     <xs:complexType>
       <xs:sequence>
         <xs:element name="Application">
           <xs:complexType>
             <xs:sequence>
             <xs:element name="Filters"/>
             <xs:element name="Properties"/>
             <xs:any minOccurs="0" ref="DataSources"/>
             <xs:any minOccurs="0" ref="Devices"/>
             <xs:any minOccurs="0" ref="Drives"/>
             <xs:any minOccurs="0" ref="Files" />
             <xs:any minOccurs="0" ref="FolderOptions" />
             <xs:any minOccurs="0" ref="Folders" />
             <xs:any minOccurs="0" ref="IniFiles" />
             <xs:any minOccurs="0" ref="InternetSettings" />
             <xs:any minOccurs="0" ref="Groups" />
             <xs:any minOccurs="0" ref="NetworkOptions" />
             <xs:any minOccurs="0" ref="NetworkShareSettings" />
             <xs:any minOccurs="0" ref="PowerOptions" />
             <xs:any minOccurs="0" ref="Printers" />
             <xs:any minOccurs="0" ref="Regional" />
             <xs:any minOccurs="0" ref="RegistrySettings" />
             <xs:any minOccurs="0" ref="ScheduledTasks" />
             <xs:any minOccurs="0" ref="NTServices" />
             <xs:any minOccurs="0" ref="Shortcuts" />
             <xs:any minOccurs="0" ref="StartMenuTaskbar" />
             </xs:sequence>
             <xs:attribute name="extId" 
                           type="xs:string" 
                           use="required" /> 
             <xs:attribute name="clsid" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="name" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="image" 
                           type="xs:unsignedByte" 
                           use="optional" />
             <xs:attribute name="changed" 
                           type="xs:string" 
                           use="optional" />
             <xs:attribute name="uid" 
                           type="xs:string" 
                           use="required" />
             <xs:attribute name="desc" 
                           type="xs:string" 
                           use="optional" />
             <xs:attribute name="bypassErrors" 
                           type="xs:boolean" 
                           use="optional" />
             <xs:attribute name="userContext" 
                           type="xs:boolean" 
                           use="optional" />
             <xs:attribute name="removePolicy" 
                           type="xs:boolean" 
                           use="optional" />
           </xs:complexType>
         </xs:element>
       </xs:sequence>
       <xs:attribute name="clsid" 
                     type="xs:string" 
                     use="required" />
       <xs:attribute name="disabled" 
                     type="xs:unsignedByte" 
                     use="optional" />
     </xs:complexType>
   </xs:element>
 </xs:schema>